  
{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
	<div class="main container">
		<div class="row well">
			<div class="col-md-6">
				<div class="page-header">
					<h2>{% trans %}New user{% endtrans %}</h2>
				</div>
                {{ form_start(form, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form'} }) }}
                
                <div class="form-group">
                    {{ form_label(form.usuarioNombre) }}
                    {{ form_widget(form.usuarioNombre, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Your username'} }) }}
                    <span class="text-danger">{{ form_errors(form.usuarioNombre) }}</span>
                </div>
                
			    <div class="form-group">
			        {{ form_label(form.nombre) }}
			        {{ form_widget(form.nombre, {'attr': {'class': 'form-control', 'placeholder' : 'Your first name'}}) }}
			        <span class="text-danger">{{ form_errors(form.nombre) }}</span>
			    </div>

			    <div class="form-group">
			        {{ form_label(form.apellido) }}
			        {{ form_widget(form.apellido, {'attr': {'class': 'form-control', 'placeholder' : 'Your last name'}}) }}
			        <span class="text-danger">{{ form_errors(form.apellido) }}</span>
			    </div>

			    <div class="form-group">
			        {{ form_label(form.email) }}
			        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder' : 'Your email'}}) }}
			        <span class="text-danger">{{ form_errors(form.email) }}</span>
			    </div>

			    <div class="form-group">
			        {{ form_label(form.password) }}
			        {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder' : 'Your password'}}) }}
			        <span class="text-danger">{{ form_errors(form.password) }}</span>
			    </div>

			    <div class="form-group">
			        {{ form_label(form.roles) }}
			        {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.roles) }}</span>
			    </div>

				<div class="checkbox">
				    <label>
						{{ form_widget(form.activo) }}{% trans %}Active{% endtrans %}
						<span class="text-danger">{{ form_errors(form.activo) }}</span>
				    </label>
				</div>
			</fieldset>

		    <p>
		        {{ form_widget(form.save, {'label' : 'Crear Usuario', 'attr': {'class': 'btn btn-success'}}) }}
		    </p>                
        
                {{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}