{% extends 'layout.html.twig' %}

{% block body %}
{{parent()}}
<div class="container">
		<div class="col-md-12">
			<div class="page-header margin-none">
	
<h2 class="padding-none">User </h2>
</div>
<div class="table-responsive">
<table class="table table-striped table-hover">
<thead>
<tr>
    <th> Usuario </th>
    <th> Nombres </th>
    <th> Apellidos </th>
    <th> Correo </th>
    <th> Roles </th>
    <th> Creado </th>
    <th> Actualizado </th>
    <th> Accion </th>

</tr>
</thead>
<tbody>
{%   for user in users %}
<tr>
    <td> {{ user.UsuarioNombre }} </td>
    <td> {{ user.Nombre }} </td>
    <td> {{ user.Apellido }} </td>
    <td> {{ user.Email}} </td>
    <td> 
    {% if user.Roles == 'ROLE_ADMIN' %} 
        <strong> Administrador </strong>
    {% elseif user.Roles == 'ROLE_USER' %}
     <strong> Usuario </strong>
     {%endif%}
    </td>
    <td> {{ user.Agregado|date('d-m-Y H:i') }} </td>
    <td> {{ user.ActualizarAgregado|date('d-m-Y H:i') }} </td>
    <td class="actions"> 
    <a href="#" class="btn btn-sm btn-primary"> Ver </a>
    <a href="#" class="btn btn-sm btn-info"> Editar </a>
    <a href="#" class="btn btn-sm btn-danger btn-delete"> Eliminar </a>
    </td>

</tr>
{%   endfor  %}
</tbody>
</table>
{% endblock %}
