<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Taller Nextcode {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{ asset('public/css/style.css')}}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {{include ('menu.html.twig')}}
        {% endblock %}
        {% block javascripts %}
           <script src = "{{ asset('public/js/jquery-3.5.1.min.js')}}" > </script>
           <script src = "{{ asset('public/js/bootstrap.min.js')}}" > </script>
        {% endblock %}
    </body>
</html>
